@import url("https://use.typekit.net/jmk3xov.css");

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main{
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote{
  font-family: elevon, sans-serif;
  font-weight: 500;
  font-style: normal;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

header{
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section{
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote{
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p{
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left{
  grid-column: 6 / 12;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 200px;
  height: 40px;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: 'Lato', bold;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin: 0 auto;
  display: block;
  margin-top:50px;
}

.waveButton {
  background: rgb(137,255,012);
  background: radial-gradient(circle, rgba(097,013,100,1) 0%, rgba(118,174,241,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.waveButton span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.waveButton:before,
.waveButton:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow:
  -1px -1px 20px 0px rgba(255,255,255,1),
  -4px -4px 5px 0px rgba(255,255,255,1),
  7px 7px 20px 0px rgba(0,0,0,.4),
  4px 4px 5px 0px rgba(0,0,0,.3);
}

.waveButton:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.waveButton:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.waveButton:hover{
  background: transparent;
  color: #000000;
  background: rgb(247,150,192);
  opacity: 0.7;
  box-shadow: none;
}

.waveButton:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.waveButton:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.waveButton span:before,
.waveButton span:after {
  position: absolute;
  content: "";
  box-shadow:
  -1px -1px 20px 0px rgba(255,255,255,1),
  -4px -4px 5px 0px rgba(255,255,255,1),
  7px 7px 20px 0px rgba(0,0,0,.4),
  4px 4px 5px 0px rgba(0,0,0,.3);
}

.waveButton span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.waveButton span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.waveButton span:hover:before {
  width: 100%;
}

.waveButton span:hover:after {
  width: 100%;
}

.projects,
.footer {
  padding: 50px 100px 25px;
}

.footer {
  margin: 0 auto;
  text-align: center;
}

.projects h2 {
  font-size: 42px;
  margin: 25px auto;
}

.projects p {
  font-size: 18px;
  line-height: 130%;
  max-width: 50ch;
}

.projects__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__card {
  max-width: 1000px;
  padding: 20px;
  border: 1px solid #0088BB;
  border-radius: 8px;
}

.projects__card h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.projects__card p {
  font-size: 16px;
  margin: 20px 0;
}

.projects__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;

  border-radius: 8px;
}

.projects__card .button {
  margin: 10px 5px 0;
}